<!DOCTYPE html>
<html>
  <head>
    <title>Missedit.tv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <link rel="shortcut icon" href="/icon.png">

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      body {
      	color: #404040;
      	background: url('/bg.jpg');
      	/* image source from elementaryOS: elementaryos.org/journal/luna-wallpapers-officially-revealed; */
      }

      h1 {
      	font-family: 'Oswald', sans-serif;
      }

      h2 {
      	font-family: 'Oswald', sans-serif;
      }

      h3 {
      	font-family: 'Oswald', sans-serif;
      }

      p {
      	font-family: "Helvetica", Helvetica, sans-serif;
      }

      .list {
      	font-family: 'Oswald', sans-serif;
      	font-size: 18px;
      }

    </style>
  </head>
  <body>
  <div class="container">
    <h1>Missedit.tv</h1>
    <h2>The Shows of Yesterday, Today</h2>
    <p>MissedIt.tv is the quickest and easiest way to find <a href="http://en.wikipedia.org/wiki/Magnet_URI_scheme">magnet links</a> to the stuff you missed yesterday but want to watch now. Missedit.tv will only display links to television in high-definition (720p), because that's really the only way to watch TV. As always, you shouldn't trust <i>any</i> website with links to potentially-unknown software, so exercise proper caution.</p>
    <p>In order for these links to do anything, you will need a <a href="http://www.bittorrent.com/">BitTorrent client.</a></p>

    <br>
    <h3>New Episodes in the Last Day:</h3>
    <div class="list">
    <% settings.shows.each do |x| %>
	<a href="<%= x[:magnet_link] %>"><%= x[:title] + " S" + x[:season] + "E" + x[:number]%></a><br>
	<% end %>
	</div>
	<br>
	<br>
	<small>&copy;Missedit.tv 2014. <a href="http://twitter.com/ambushsabre">@ambushsabre</a>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>